<h3>EMAIL</h3>
<%= simple_form_for @visitor do |f| %>
<%= f.input :email,label: false, :placeholder => 'Your email address ...' %>
<%= f.button :submit, 'Sign up for the newsletter', class: 'submit' %>
<%end%>


