<%# add navigation links to this file %>
<button type="button" class="success button"><%= link_to 'About',page_path('about') %></button>
<button type="button" class="alert button"><%= link_to 'Contact',page_path('contact') %></button>


